@import "../../../index.scss";

.button__menu {
  position: relative;
  height: 64px;
  width: 240px;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 1;
  font-weight: 600;
  padding: 0 0 4px 4px;
  border: 2px solid black;
  border-radius: 32px;
  &__container {
    @include flex-column;
    gap: 16px;
  }
}

.button__menu:hover {
  cursor: pointer;
  filter: brightness(80%);
}
