@font-face {
  font-family: "Omnes";
  src: url("public/fonts/omnes/Omnes Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: normal;
}

@font-face {
  font-family: "Omnes";
  src: url("public/fonts/omnes/Omnes Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: normal;
}

:root {
  --primary-pink: #ffaca2;
  --primary-green: #41d0ff;
  --primary-yellow: #d8fc3f;
  --primary-mint: #a3ffcf;
  --bg-color: #efece1;
  --card-color: #f7f4f4;
  --subtext-color: #a09d8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Omnes", Helvetica, sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--bg-color);
  margin: 24px 64px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
